
:root{
    --bg-primary: #009688;
    --bg-secondary: #DADBD3;
    --light-gray:#EAEAEA;
    --light-blue: #86CEEE;
}

#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, var(--bg-primary) 20%, var(--bg-secondary) 20%);
    padding: 40px 0;
}

#contact-list{
    width: 40%;

}

#chat-wrapper {
    width: 60%;

}

.toolbar {
    height: 70px;
    background-color: var(--light-gray);
}

.chat {
    height: calc(100% - 140px);
    overflow: auto;
    padding: 2
}

.notification {
    height: 70px;
    background-color: var(--light-blue);
}

.searchbar {
    height: 50px;
}

.contacts{
    height: calc(100% - 190px);
    overflow: auto;

}

.contact {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.contacts img {
    width: 50px;;
}

.bell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}

.toolbar img {
    width: 50px;
}
.d-bug {
    border: 1px solid red;
}