
:root{
    --bg-primary: #009688;
    --bg-secondary: #DADBD3;
    --light-gray:#EAEAEA;
    --light-blue: #86CEEE;
    --message-bg: #F3EEEA;
}

#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, var(--bg-primary) 20%, var(--bg-secondary) 20%);
    padding: 40px 0;
}

#contact-list{
    width: 40%;

}

#chat-wrapper {
    width: 60%;

}

.toolbar {
    height: 70px;
    background-color: var(--light-gray);
}

.chat {
    height: calc(100% - 140px);
    overflow: auto;
    padding: 2;
    background-image: url(img/mine.jpg);
}

.active {
    background-color:red;
}

.notification {
    height: 70px;
    background-color: var(--light-blue);
}

.searchbar {
    height: 50px;
}

.contacts{
    height: calc(100% - 190px);
    overflow: auto;

}

.contact {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.contacts img {
    width: 50px;;
}

.bell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}

.toolbar img {
    width: 50px;
}

.main-tool {
    border-right: 1px solid lightgray;
}

.sent {
	position: relative;
	background: #00bd16;
	border-radius: .4em;
}

.sent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-left-color: #00bd16;
	border-right: 0;
	margin-top: -36px;
	margin-right: -36px;
}

.recived {
	position: relative;
	background: #00b0bd;
	border-radius: .4em;
}

.recived:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-right-color: #00b0bd;
	border-left: 0;
	margin-top: -36px;
	margin-left: -36px;
}
